/*
  Styling
*/

/* setting monospace font globally */
body {
    font-family: monospace;
    font-size: 1.0em;
}

/* styling hyperlinks */
a {
    font-size: 1.0em;
    text-decoration: none;
    color: #0600ff;  /* dark blue */
}

a:active {
    color: #03007F;  /* darker blue */
}

a:visited {
    color: #7F7F7F;  /* gray */
}

/* content section styling */
.content {
  margin: 20px;
}

/* section spacing */
.section-spacing {
  margin-bottom: 30px;
}

/* bullet styling for multiple indentations */
ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: disc;  /* second indent use filled disc */
  margin-left: 0;
  padding-left: 20px;
}

/* acknowledgment */
li.acknowledgment::marker {
  color: transparent;
}


/*
  Top navigation bar
*/
.top-navigation-bar {
  background-color: white;
  overflow: hidden;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 1px solid black;  /* horizontal line at bottom */
}

/* style links inside navigation bar */
.top-navigation-bar a {
  color: #0600ff;  /* dark blue */
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}

/* underline links on hover inside navigation bar */
.top-navigation-bar a:hover {
  text-decoration: underline;
}

/* active link styling inside navigation bar */
.top-navigation-bar a.active {
  color: #0600ff;  /* dark blue */
  text-decoration: underline;
}

/* styling dash inside navigation bar */
.top-navigation-bar span.dash {
    color: black;
    display: inline-block;
    width: 80px;
    text-align: center;
}

/* for mobile screens */
@media (max-width: 600px) {
  .top-navigation-bar a {
    font-size: 1.1em;
  }

  .top-navigation-bar {
    padding: 20px 20px;
  }

  .top-navigation-bar span.dash {
    width: 60px;
  }
}
